// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  margin: 33px;
}

table {
  display: table;
  border-collapse: separate;
  box-sizing: border-box;
  text-indent: initial;
  border-spacing: 2px;
  border-color: gray;
}

thead {
  display: table-header-group;
  vertical-align: middle;
  border-bolor: inherit;
}

tr {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
}

.field {
  margin-bottom: 10px;
}

.flash {
  color: green;
}

#error-explanation {
  font-size: 12px;
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error-explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0;
  background-color: #c00;
  color: #fff;
}

ul {
  font-size: 12px;
  list-style: square;
  margin:33px;
}

li {
  display: list-item;
  text-align: -webkit-match-parent;
}

text_field:invalid {
  padding: 2px;
  background-color: red;
  display: table;
}